{% trans_default_domain 'DiscuteaUserBundle' %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="{{ asset('img/favicon.png') }}" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" href="{{ asset('build/css/login.css') }}" />
    <title>SOCOM - Mot de passe oublié</title>
</head>
<body id="login" class="login">
<h2 class="wrap">
    <i class="icon-socom"></i>
    <span>Mot de passe oublié</span>
</h2>
<p class="" style="width: 80%; margin-left:10%; text-align:center;">
    Un e-mail a été envoyé. Il contient un lien sur lequel il vous faudra cliquer pour réinitialiser votre mot de passe.<br />
    Remarque : Vous ne pouvez demander un nouveau mot de passe que toutes les 2 heures.<br />
    <br />
    Si vous ne recevez pas un email, vérifiez votre dossier spam ou essayez à nouveau.<br />

</p>
</body>
</html>
