<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
    Pour valider votre inscription, merci de vous rendre sur {{ confirmationUrl }} ou en cliquer sur <a href="{{ confirmationUrl }}" target="_blank">ce lien</a>.
    </body>
</html>
